html {
    scroll-behavior: smooth;
}

body {
    font-size: 12px !important;
    background-color: #ffffff;
}

.w3-input {
    padding: 2px !important;
    /*width: 60px !important;*/
}

hr.hrBorder {
    border-top: 2px solid black;
}

.colMargin {
    margin-right: 100px;
}

.underLineTxt {
    text-decoration: underline;
}

.btnTop {
    padding-top: 30px;
}

.btnOKCancel {
    margin-left: 20px;
    border: 1px solid black;
}

.hide {
    display: none;
}

.totalLeft {
    margin-left: 33px;
}

.totalCheck, .checkBox {
    width: 15px;
    height: 15px;
}

.totalCheck {
    margin-left: 50px;
}

.arrowUpDown {
    position: fixed;
    margin-top: 5px !important;
    border-radius: 3px;

    opacity: 0.4;
    color: #000000;
}

.upDownSize {
    padding: 0 !important;
    max-width: 18px;
    width: 100%;
}

.w3-btn {
    padding: 4px 4px !important;
}

.scrollPosition1 {
    top: 200px;
    left: 50px;
}

.scrollPosition2 {
    top: 250px;
    left: 50px;
}
